[[source]]
url = 'https://pypi.python.org/simple'
verify_ssl = true
name = 'pypi'

[requires]
python_version = '3.13'

[packages]
google-cloud-storage='==3.4.1'
google-cloud-speech='==2.33.0'
google-cloud-datastore='==2.21.0'
google-cloud-ndb='==2.3.4'
python-telegram-bot={extras=["webhooks"], version='==22.5'}
python-json-logger="==2.0.7"

[dev-packages]
pytest='==8.4.2'
pytest-cov='==7.0.0'
pytest-asyncio='==1.2.0'
